:root {
    --bg-color: #f0f0f0;
    --container-bg-color: white;
    --text-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode {
    --bg-color: #333;
    --container-bg-color: #444;
    --text-color: #f0f0f0;
    --box-shadow-color: rgba(255, 255, 255, 0.1);
}

body.walkie-talkie-mode {
    --bg-color: #204020; /* Dark green background */
    --container-bg-color: #1a1a1a;
    --text-color: #ff4141;
    --box-shadow-color: rgba(255, 65, 65, 0.2);
    font-family: 'Courier New', Courier, monospace;
}

body.walkie-talkie-mode #walkie-talkie-text-box {
    background-color: black;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem; /* Add some space below the box */
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}

.container {
    text-align: center;
    background-color: var(--container-bg-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#answer {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
